body{
  font-family: Roboto, Inter,Poppins, sans-serif;
  background-image: url("img/background-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  background-color: #60798C;
}
a{
  color: #eeeeee;
}
a:hover{
  color: #477A68;
}

header h1{ 
  font-family: 'GlacialIndifferencebold', 'Glacial Indifference', Spartan, Montserrat, Roboto, Inter, Poppins, Sans-serif;
  font-weight: 600;
  font-size: 52px;
  color: #ffffff;
  text-align: center;
  margin-top: 100px;
}

/* main section */
.lead {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.7;
  font-weight: 300;
  font-family: Roboto, Inter, sans-serif;
}
section{
  margin: 50px auto;
}
h3{
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 10px;
}
section a{
  font-size: 20px;
  margin-right: 15px;
}
section p{
  font-size: 14px;
  font-weight: 300;
  color: #eeeeee;
}
.fab, .fas {
  font-size: 25px;
}

/* footer section */
footer{
  text-align: center;
}
footer p{
  font-size: 14px;
  font-weight: 300;
  color: #eeeeee;
}
footer #netlify{
  font-family: 'Libre Baskerville', Serif;
  font-weight: 300;
  font-style: italic;
  color: #DEE1E6;
}